<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ARJS</title>
</head>
<body>
  <div id="root"><%- initialMarkup %></div>
  <script>
    window.initialData = <%- JSON.stringify(initialData) %>;
  </script>
  <script type="text/javascript" src="/vendors~app~vendor.js"></script><script type="text/javascript" src="/vendors~vendor.js"></script><script type="text/javascript" src="/vendor.js"></script><script type="text/javascript" src="/app.js"></script>
</body>
</html>
